@import '../../../theme1.scss';

#canvas {
    width: 100%;
    height: 60vh;
    background-color: $canvas-color;
    padding: 4px 0px;
    box-sizing: border-box;
    box-shadow: inset 0 0 12px black;
    border: 8px solid $box-border-color;
    border-top: 0;
    border-bottom: 0;
    margin: 4px 0;
    margin-bottom: -5px;
}