@import "../../theme1.scss";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;
  background-color: $header-color;
  color: $header-font-color;
  .header-text {
    letter-spacing: 1vw;
    transition: 1s;
    padding-left: 8px;
    font-size: 105%;
  }
  .right-block {
    display: flex;
    justify-content: flex-end;
    span {
      font-size: 75%;
      white-space: nowrap;
      margin-left: 16px;
    }
  }
}

.container {
  width: 33%;
}

.link {
  margin-right: 5%;
  cursor: pointer;
  border-bottom: 2px solid gray;
}

.logo {
  background: $background-color;
  width: 72px;
  border-radius: 50%;
  height: 72px;
  border: 1px solid $logo-border;
  border-top: 0;
  box-shadow: 0 2px 10px black;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: -24px;
  margin-top: 4px;
  box-sizing: border-box;
  div {
    width: 25%;
    height: 16px;
    background-color: $logo-rect;
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: 1s;
  }
}

.logo > div:nth-last-of-type(1) {
  animation-delay: 0s;
  border-bottom-right-radius: 70px;
}
.logo > div:nth-last-of-type(2) {
  animation-delay: 0.123s;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-bottom: -1px;
  border-top: 2px solid $logo-rect;
}
.logo > div:nth-last-of-type(3) {
  animation-delay: 1.234s;
  border-bottom-left-radius: 70px;
}

@keyframes bounce {
  from {
    height: 16px;
  }
  to {
    height: 80%;
  }
}
