<section class="dialog-box">
  <button (click)="closeSelf()">CLOSE</button>
  <div class="content">
    <h1>Добро пожаловать</h1>
    <p>Эта программа предназначена для визуализации алгоритмов сортировки массива. 
      И изначально разрабатывалась как творческое задание по предмету "Программирование графики" <br>
    Харьковского национального экономического университета им. С.Кузнеца</p>
    <hr>
    <h2>Об авторе</h2>
    <h3>Бида Богдан Алексеевич</h3>
    <p>Студент 3 курса специальности "Инженерия ПО" на момент создания приложения (Март 2020 года)</p>
    <hr>
    <h3>Ссылки и контакты</h3>
    <ul>
      <li>Репозиторий проекта на GitHub: <br> <a href="https://github.com/BogdanBida/VisualSorting">https://github.com/BogdanBida/VisualSorting</a></li>
      <li>Telegram: <br> @BogdanBida</li>
      <li>LinkedIn: <br> <a href="https://www.linkedin.com/in/bogdan-bida/">https://www.linkedin.com/in/bogdan-bida/</a></li>
      <li>Instagram: <br> <a href="https://www.instagram.com/bida_bogdan/?hl=ru">https://www.instagram.com/bida_bogdan/?hl=ru</a></li>
    </ul>
  </div>
</section>