$background-color: linear-gradient(to bottom right, #808080, #404040);
$font: Verdana;

$header-color: #303838;
$header-font-color: white;
$logo-border: skyblue;
$logo-rect: #70d0a0;

$footer-color: #203030;
$box-color: #555555;
$box-border-color: #404040;
$border-color: #202020;

$canvas-color: #404040;
$button-color: rgb(62, 108, 80);
$textbackground-color: #404040;
$icon-button-color: radial-gradient(circle at center, #604040, #303030);
$icon-button-color2: radial-gradient(circle at center, #406040, #303030);
$sort-button-color: $button-color;

$text-main-color: white;
$text-secondary-color: #e0e0e5;
$text-mark-color: #a0a0a0;

hr {
    filter: brightness(0.8);
}