$background-color: linear-gradient(to bottom right, #4F4F4F, #242424);
$font: Arial;

$header-color: linear-gradient(to bottom right, #434343 ,#272727);
$header-font-color: #f0f0f0;
$logo-border: skyblue;
$logo-rect: #70d0a0;

$footer-color: linear-gradient(to bottom right, #232323 ,#070707);;
$border-color: #404040;

$canvas-color: $header-color;
$button-color: #b5b5b5;
$textbackground-color: #353535;
$icon-button-color:#272727;
$icon-button-color2: #272727;
$sort-button-color: $button-color;

$text-main-color: #e0e0e0;
$text-secondary-color: #c0c0c5;
$text-mark-color: #909090;

hr {
    filter: brightness(0.35);
    opacity: 0.8;
}

.tool-box {
    border: 0;
    box-shadow: none !important;
}

button, [type="submit"], [type="button"] {
    border-radius: 2px;
    box-shadow: none !important;    
    color: #242424 !important;
}

[type="text"] {
    box-shadow: none !important;
}

.icon-button {
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 2px solid #a03030 !important;  
    color: $text-mark-color !important;
}

.positive {
    border-bottom: 2px solid #30a030 !important;
}