@import "../../theme.scss";
@import '../../flex-template.scss';

app-statistic {
    width: 66.66%;
}

.selectGraphicMode {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 50%;
  width: 33.33%;
  
  span {
    color: mix($text-mark-color, #f0f0f0);
    margin-right: 2%;
  }
  button {
    margin: 4px;
    font-size: 12px;
    padding: 4px 16px;
  }
  .tool-box {
    margin-bottom: -4px;
    span {
      font-size: 100%;
      font-weight: normal;
    }
  }
}

.unvisible {
  display: none;
}
