@import '../../theme1.scss';

.statistic {
    display: flex;
    justify-content: space-between;
    width: 33.33%;
    white-space: nowrap;
    margin-right: 12%;
}

span {
    color: mix($text-mark-color, #f0f0f0);
    margin-right: 2%;
}

.selectGraphicMode {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 50%;
    width: 100%;
    button {
        margin: 4px;
        font-size: 12px;
        padding: 4px 16px;
    }
    .tool-box {
        margin-bottom: -4px;

    }
}

.unvisible {
    display: none;
}