@import '../../../theme1.scss';

section {
    background-color: $canvas-color;
    display: flex;
    align-items: flex-end;
    height: 60vh;
    width: 99.5%;
    margin-left: 0.5%;
    margin-top: 4px;
    margin-bottom: 0px;
    padding: 4px;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    border-right: 1px solid #402020;
    padding: 0 1px;
    align-items: flex-end;
}

.block {
    background-color: #C8646B;
    width: 100%;
    min-height: 4px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    span {
        font-size: 11px;
        font-weight: bold;
        // padding: 2em 0;
        letter-spacing: 0.25em;
        transform: rotate(-90deg);
        position: absolute;
    }
}

.active {
    transition: 0;
    background-color: #6BC864 !important;
    box-shadow: 0 0px 5px #6BC864;
}

.sub-active {
    transition: 0s;
    background-color: #649574;
    box-shadow: 0 0px 5px #649574;
}

.zeroline-wrapper {
    position: absolute;
    width: 99.0%;
    display: flex;
    align-items: flex-end;
    height: 60vh;
}

.zeroline {
    width: 100%;
    box-sizing: border-box;
    border-top: 1px dashed white;
    opacity: 0.6;
}