@import '../../../theme1.scss';

span {
    text-transform: uppercase;
    color: mix($text-mark-color, #f0f0f0);
    margin-right: 2%;
    font-size: 50%;
}

.statistic {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 50%;
    white-space: nowrap;
}

.value-container {
    display: inline;
    filter: drop-shadow(0 0 25px black);
}

.green {
    color: mix($text-mark-color, #20ff20);
}

.red {
    color: mix($text-mark-color, #ff2020);
}