@import 'theme.scss';

body {
    margin: 0;
    font-size: 24px;
    font-family: $font;
    // background: $background-color;
    color: $text-main-color;
    min-width: 888px;
}

input {
    height: 40px;
    margin: 4px 0;
    box-sizing: border-box;
}