$background-color: linear-gradient(to bottom right, #808080, #404040);
$font: Verdana;

$header-color: #000;
$header-font-color: #000;
$logo-border: #000;
$logo-rect: #000;

$footer-color: #000;
$box-color: #000;
$box-border-color: #000;
$border-color: #000;

$canvas-color: #000;
$button-color: #000;
$textbackground-color: #000;
$icon-button-color: #000;
$icon-button-color2: #000;
$sort-button-color: #000;

$text-main-color: #000;
$text-secondary-color: #000;
$text-mark-color: #000;
$text-gray-color: #000;

hr {
    width: 98%;
    margin: 8px 0;
}

input, *:active, *:focus {
    outline: none;
}

[type="button"], [type="submit"], button {
    background-color: $button-color;
    border: 0;
    box-shadow: inset 0 -3px 6px rgba(0,0,0,0.5), 0 1px 5px rgba(0,0,0,0.4);
    color: $text-main-color;
    font-size: 80%;
    font-family: $font;
    color: $text-secondary-color;
}

[type="text"] {
    background-color: inherit;
    color: $text-main-color;
    border: 0;
    box-shadow: inset 2px 0 18px rgba(0,0,0,0.3);
    border-bottom: 4px solid $button-color;
    font-family: $font;
    font-size: 55%;
    padding: 0 14px;
}

.button {
    transition: 0.2s;
}

.button:active {
    filter: brightness(1.2) !important;
}

.button:hover {
    filter: brightness(1.1);
}

.icon-button {
    background: $icon-button-color;
    transition: 0.15s;
    img {
        opacity: 0.6;
    }
    span {
        white-space: nowrap;
        text-align: center;
        font-size: 35%;
        font-weight: bold;
        color: $text-mark-color;
    }
}

.positive {
    background: $icon-button-color2 !important;
}

.sortbutton {
    background-color: $sort-button-color;
    border: 0;
}

.tool-box {
    border-top: 0;
    border-bottom: 0; 
    border-radius: 2px;
    box-shadow: inset 0 -1px 5px rgba(0,0,0,0.3);
}

.disabled {
    cursor: no-drop !important;
    filter: brightness(0.8);
}

.dialog-box {
    background: $background-color;
    position: absolute;
    top: 18vh;
    height: 50vh;
    width: 33.33%;
    left: 33.33%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    button {
        border-radius: 0 !important;
        height: 40px;
        padding: 8px;
    }
    .content {
        font-size: 50%;
        overflow-y: auto;
        padding: 8px;
    }
    a {
        text-decoration: none;
        color: mix($text-main-color, #0000ff);
    }

    h1,h2 {
        text-align: center;
    }
}